.product-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin: 10px 10px;
    border: 1px solid #083074;
    border-radius: 5px;
}